.product-footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.product-photo {
  min-height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.product-photo-container {
  flex: 1;
}
.product-description {
  flex: 1;
}

.product-description-text {
  white-space: pre-line;
  line-height: 13px;
}

.product-desc-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.product-details-container {
  padding: 40px 60px;
}

.alert-container {
  padding: 20px 100px;
}
