/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Rubik" !important;
  font-weight: 200;
}

h1,
h2,
h3 {
  font-weight: 300;
}

.page {
  display: block;
  padding: 30px 50px;
}

.align-center {
  justify-content: center;
  align-items: center;
}

.layout-row {
  flex-direction: row;
}

.layout-column {
  flex-direction: column;
}

.flex {
  display: flex;
}
